@keyframes fromToptoBotton{
  0%{
    top: -100%;
  }
  100%{
     top: -53%;
  }
}

@keyframes fromNullToNine{
  0%{
    width: 0px;
  }
  100%{
     width: 100%;
  }
}
@keyframes workforceBG{
  0%{
   opacity: 0.8;
  }

  100%{
    opacity: 1;
  }
}

@keyframes preloader{
  0%{
    bottom: 90%;
  }
  100%{
    bottom: 60%;
  }
}