@font-face {
  font-family: Avenir Next;
  src: url(../font/AvenirNext-Regular.ttf);
}

@font-face {
  font-family: Avenir Bold;
  src: url(../font/AvenirNext-Bold.ttf);
}
@font-face {
  font-family: Avenir DemiBold;
  src: url(../font/AvenirNext-DemiBold.ttf);
}

@font-face {
  font-family: Avenir Medium;
  src: url(../font/AvenirNext-Medium.ttf);
}