$primary: #dc0013;
$secondary: #394659;
$regular: #555960;
$elements: #e8ebef;
$gradient: linear-gradient(to bottom, #dc0013 0%, #3c495c 100%);

.background{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;

  text-align: center;
  overflow: hidden;
}

.square{
  width: 10px;
  height: 10px;
  background-color: $primary;
  &:not(:last-child){
    margin-right: 15px;
  }
}

.squareVertical{
  width: 10px;
  height: 10px;
  margin-bottom: 15px;
  background-color: $primary;
}

.rectangle{
  width: 50px;
  height: 10px;
  background-color: $primary;
  &:not(:last-child){
    margin-right: 15px;
  }
}
.rectangleVertical{
  height: 50px;
  width: 10px;
  margin-bottom: 15px;
  background-color: $primary;
}

.container{
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;

  box-sizing: border-box;
  @media screen and (max-width: 500px){
    padding: 0 10px;
  }
}