@import "var";
@import "reset";
@import "font";
@import "animation";

.preloader{
  position: fixed;
  background: #fff;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  z-index: 9999;
  transition: all ease .5s;
  &__procent{
    color: $secondary;
    font-family: "Avenir Bold";
    font-size: 72px;
    font-weight: 700;
    text-transform: uppercase;
    transition: all ease .5s;
  }
  &__animation{
    position: absolute;
    bottom: 90%;
    left: calc( 50% - 5px );
    transition: all ease .5s;

    animation: preloader ease 1s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
  }
}
.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  padding: 24px 51px 17px 43px;
  box-sizing: border-box;
  z-index: 999;
  @media screen and (max-width: 992px){
    padding: 25px 28px 17px 0px;
  }
  @media screen and (max-width: 550px){
    padding: 28px 0 12px;
  }
  .container{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  &_logo{
    max-width: 115px;
    width: 100%;
    margin-left: 7px;
    transition: all ease .5s;
    &:hover{
      transform: scale(1.05);
    }
    @media screen and (max-width: 992px){
      margin-left: 0;
    }
    @media screen and (max-width: 550px){
      max-width: 71px;
    }
    img{
      @media screen and (max-width: 550px){
        width: 100%;
      }
    }
  }
  &_language{
    position: absolute;
    right: 15px;
    top: 5px;
    display: flex;
    flex-direction: column;
    color: $secondary;
    font-family: "Avenir Next";
    font-size: 11px;
    font-weight: 700;
    line-height: 25px;
    text-transform: uppercase;
    letter-spacing: 1.1px;
    @media screen and (max-width: 550px){
      right: 14px;
      top: 1px;
    }
    .language{
      height: 25px;
      overflow: hidden;
      transition: all ease .5s;
      li{
        position: relative;
        a {
          color: $secondary;
          font-family: "Avenir Bold";
          font-size: 11px;
          font-weight: 700;
          line-height: 25px;
          text-transform: uppercase;
          letter-spacing: 1.1px;
          transition: all ease .5s;
          &:hover {
            color: $primary;
          }
        }
        &:hover{
          a{
            color: $primary;
          }
        }
      }
      &:hover{
        &:after {
          background: $primary;
        }
      }
      &.active{
        height: 100px;
        &:after{
          bottom: 10px;
          height: calc( 100% - 20px);
          background: $primary;
        }
        li{
          &:first-child{
            a{color: $primary;}
          }
        }
      }
      &:after {
        content: "";
        position: absolute;
        top: 10px;
        right: -12px;
        width: 4px;
        height: 4px;
        background: #2f3c4a;
        transition: all ease .5s;
      }
    }
  }
}
.workforce{
  position: relative;
  z-index: 9;
  &__content{
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 115px 0 160px;
    margin-top: 84px;
    box-sizing: border-box;
    @media screen and (max-width: 992px){
      padding: 109px 0 163px;
    }
    @media screen and (max-width: 550px){
      padding: 55px 0 80px;
      margin-top: 69px;
    }
    &_center{
      position: relative;
      z-index: 5;
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 810px;
      width: 100%;
      margin-bottom: 48px;
      @media screen and (max-width: 992px){
        margin-bottom: 55px;
      }
      @media screen and (max-width: 550px){
        margin-bottom: 29px;
      }
      h1{
        width: 100%;
        margin: 0 auto 27px;
        color: $secondary;
        font-family: "Avenir Bold";
        font-size: 60px;
        font-weight: 700;
        line-height: 60px;
        padding-top: 2px;
        padding-left: 10px;

        box-sizing: border-box;

        text-align: center;
        span{
          color: $primary;
        }
        @media screen and (max-width: 550px){
          font-size: 27px;
          line-height: 32px;
          margin-bottom: 14px;
        }

      }
      p{
        max-width: 500px;
        width: 100%;
        color: #ffffff;
        font-family: "Avenir Next";
        font-size: 18px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0.45px;
        text-align: center;
        padding-left: 10px;
        @media screen and (max-width: 992px){
          max-width: 600px;
        }
        @media screen and (max-width: 550px){
          font-size: 12px;
          font-weight: 400;
          line-height: 22px;
        }
      }
    }
    &_form{
      position: relative;
      z-index: 5;
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 810px;
      width: 100%;
      padding-left: 9px;
      text-align: center;
      @media screen and (max-width: 992px){
        box-sizing: border-box;
        max-width: 100%;
      }
      @media screen and (max-width: 550px){
        padding-left: 0;
      }
      p{
        color: #ffffff;
        font-family: "Avenir Bold";
        font-size: 16px;
        font-weight: 700;
        line-height: 24.02px;
        letter-spacing: 0.4px;
        margin-bottom: 36px;
        padding-left: 1px;

        @media screen and (max-width: 992px){
          max-width: 635px;
        }
        @media screen and (max-width: 550px){
          color: #ffffff;
          font-family: "Avenir DemiBold";
          font-size: 14px;
          font-weight: 400;
          line-height: 22px;
          letter-spacing: 0.35px;
          margin-bottom: 25px;
        }
      }
      form{
        display: flex;
        justify-content: center;
        width: 100%;
        @media screen and (max-width: 767px){
          flex-wrap: wrap;
        }
        @media screen and (max-width: 550px){
         max-width: 293px;
        }
        input{
          max-width: 285px;
          width: 100%;
          margin-right: 20px;
          margin-bottom: 20px;

          padding: 16px 20px;

          color: #3c495c;
          font-family: "Avenir Next";
          font-size: 16px;
          font-weight: 400;
          line-height: 28px;
          letter-spacing: 0.8px;

          border: none;
          box-sizing: border-box;
          @media screen and (max-width: 992px){
            max-width: 237px;
            width: 100%;
            margin-right: 19px;
          }
          @media screen and (max-width: 550px){
            margin-right: 0;
            max-width: 100%;
            padding: 6px 16px;
            color: #3c495c;
            font-family: "Avenir Next";
            font-size: 12px;
            font-weight: 400;
            line-height: 28px;
            letter-spacing: 0.6px;
          }
          &:last-child{
            @media screen and (max-width: 320px){
              margin-bottom: 30px;
            }
          }
        }
        button{
          max-height: 61px;
          padding: 18px 61px;
          max-width: 200px;
          width: 100%;
          border-radius: 5px;
          background-color: $secondary;
          color: #ffffff;
          font-family: "Avenir Next";
          font-size: 11px;
          font-weight: 700;
          line-height: 25.02px;
          text-transform: uppercase;
          letter-spacing: 1.1px;
          border: none;
          cursor: pointer;
          transition: all ease .5s;
          &:hover{
            background-color: $primary;
          }
          @media screen and (max-width: 550px){
            max-width: 202px;
          }
        }
      }
    }
  }
  .background{
    z-index: 2;
    height: 100%;
    //background: url(../img/section-first-first.png);
    background-size: cover !important;
    background-position: center bottom !important;
    background-repeat: no-repeat !important;
    //img{
    //  display: none;
    //}
    div{
      height: 100%;
      opacity: 1 !important;
      &.slick-active{
        animation: workforceBG ease .5s;
        animation-fill-mode: forwards;
      }
    }
  }
}

.system{
  position: relative;
  display: flex;

  width: 100%;
  margin: 120px 0px 120px 0px;

  box-sizing: border-box;
  @media screen and (max-width: 550px){
    margin: 55px 0 55px 0;
  }
  .container{
    position: relative;
  }
  &__feature{
    position: relative;
    width: 100%;
    margin-bottom: 60px;
    padding-left: 57px;

    box-sizing: border-box;

    z-index: 10;
    @media screen and (max-width: 992px){
      margin-bottom: 50px;
    }
    @media screen and (max-width: 550px){
      padding-left: 30px;
      margin-bottom: 31px;
    }
    p{
      color: $secondary;
      font-family: "Avenir DemiBold";
      font-size: 18px;
      font-weight: 400;
      line-height: 26px;
      letter-spacing: 0.45px;
      @media screen and (max-width: 550px){
        font-size: 12px;
      }
    }
  }
  &__container{
    position: relative;
    display: flex;
    justify-content: space-between;
    z-index: 10;
    @media screen and (max-width: 992px){
      flex-wrap: wrap;
    }
    .left{
      max-width: 530px;
      width: 100%;
      padding-left: 57px;
      margin-bottom: 40px;
      margin-right: 20px;

      box-sizing: border-box;

      @media screen and (max-width: 992px){
        max-width: 100%;
        padding-left: 44px;
        padding-right: 45px;
        margin-bottom: 24px;
      }
      @media screen and (max-width: 550px){
        padding-left: 30px;
        padding-right: 0px;
        margin-right: 0;
      }
      h2{
        color: $secondary;
        font-family: "Avenir Bold";
        font-size: 36px;
        font-weight: 700;
        line-height: 44px;
        letter-spacing: 0.9px;
        margin-bottom: 40px;
        @media screen and (max-width: 992px){
          margin-bottom: 20px;
        }
        @media screen and (max-width: 550px){
          color: #394659;
          font-family: "Avenir Bold";
          font-size: 24px;
          font-weight: 700;
          line-height: 28px;
          letter-spacing: 0.6px;
          margin-bottom: 15px;
        }
      }
      p{
        margin-left: 40px;
        color: #555960;
        font-family: "Avenir Next";
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0.8px;
        strong{
          font-weight: 700;
          font-family: "Avenir Bold";
        }
        @media screen and (max-width: 550px){
          margin-left: 0;
          font-family: "Avenir Next";
          font-size: 12px;
          font-weight: 400;
          line-height: 22px;
          font-weight: 400;
          letter-spacing: 0.6px;
        }
      }
    }
    .right{
      position: relative;
      padding-top: 32px;
      box-sizing: border-box;
      margin-right: -5px;
      @media screen and (max-width: 992px){
        width: 100%;
        text-align: center;
        padding-right: 13px;
      }
      @media screen and (max-width: 550px){
        padding-top: 13px;
        padding-right: 4px;
        padding-left: 30px;
        margin: 0 auto 0 auto;
      }
      img{
        @media screen and (max-width: 550px){
          width: 100%;

        }
      }
    }
  }
  .background{
    top: -15px;
    padding-left: 12px;
    box-sizing: border-box;
    @media screen and (max-width: 992px){
      top: -21px;
      padding-left: 0;
    }
    p{
      opacity: 0.3;
      color: #e4e6e7;
      font-family: "Avenir Bold";
      font-size: 200px;
      font-weight: 700;
    }
  }
  &.active{
    .line-top{
      animation: fromToptoBotton ease 1s;
      animation-fill-mode: forwards;
    }
    .line-right{
      .rectangle{
        animation: fromNullToNine ease 1s;
        animation-fill-mode: forwards;
      }
    }
  }
  .line-top{
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 22px;
    top: -100%;
    transition: all ease .5s;
    z-index: 2;
    .rectangleVertical{
      margin-bottom: 15px;
      height: 370px;
      @media screen and (max-width: 992px){
        height: 425px;
      }
    }
    @media screen and (max-width: 992px){
      left: 12px;
    }
    @media screen and (max-width: 550px){
      left: 15px;
    }
  }
  .line-right{
    position: absolute;
    right: 0px;
    width: 40px;
    top: calc( 55% - 1px );
    transition: all ease .5s;
    z-index: 50;
    .rectangle{
      width: 0px;
      float: right;
    }
    @media screen and (max-width: 992px){
      top: calc( 87% - 7px);
    }
  }

  &.last{
    @media screen and (max-width: 1280px){
      margin: 0;
      padding: 0 0 80px 0;
    }
    .line-top{
      left: 12px;
      @media screen and (max-width: 550px){
       left: 19px;
      }
    }
    .background {
      p {
        color: #e4e6e7;
        font-family: "Avenir Bold";
        font-size: 200px;
        font-weight: 700;
        opacity: 0.3;
      }
    }
    .system__feature{
      padding-left: 48px;
      @media screen and (max-width: 550px){
        padding-left: 32px;
        margin-bottom: 35px;
      }
    }
    .system__container .left{
      padding-left: 48px;
      max-width: 520px;
      width: 100%;
      @media screen and (max-width: 992px) {
        max-width: 100%;
        padding-left: 45px;
      }
      @media screen and (max-width: 550px){
        padding-left: 33px;
      }
    }
    .slider{
      max-width: 530px;
      width: 100%;

      min-width: 400px;
      padding-top: 32px;
      padding-left: 2px;
      box-sizing: border-box;

      @media screen and (max-width: 992px){
        max-width: 545px;
        margin: 0 auto;
      }
      @media screen and (max-width: 550px){
        min-width: 100%;
        padding-left: 30px;
        box-sizing: border-box;
      }
      img{
        @media screen and (max-width: 550px){
          width: 100%;
        }
      }
      &__controles{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 10px;
        @media screen and (max-width: 992px){
          padding-right: 20px;
        }
        @media screen and (max-width: 550px){
          padding-right: 0;
        }
        .prev,.next{
          display: flex;
          align-items: center;
          max-width: 220px;
          width: 100%;
          @media screen and (max-width: 992px){
            flex-direction: row-reverse;
            max-width: 239px;
          }
          .count{
            display: inline-block;
            color: $regular;
            font-family: "Avenir Bold";
            font-size: 11px;
            font-weight: 700;
            line-height: 26px;
            letter-spacing: 0.28px;
            transition: all ease .5s;
            min-width: 22px;
            text-align: center;
            &:active{
              color: #313a40;
              font-family: "Avenir Bold";
              font-size: 18px;
              font-weight: 700;
              line-height: 26px;
              letter-spacing: 0.45px;
            }
          }
          .icon{
            display: flex;
            align-items: center;
            padding-top: 5px;
            svg{
              .line{
                transition: fill ease .5s;
              }
              .circle{
                transition: stroke ease .5s;
              }
                rect{
                    transition: fill ease .5s
                }
              @media screen and (max-width: 550px){
                width: 77px !important;
              }
            }
          }
          &:hover{
            .count{
              color: #313a40;
              font-size: 18px;
              font-weight: 700;
              line-height: 26px;
              letter-spacing: 0.45px;
            }
            .icon{
              svg{
                fill: $primary;
                rect{
                  fill: $primary;
                }
                .circle{
                  stroke: $primary;
                }
              }
            }
          }
        }
        .prev{
          .count{
            margin-right: 25px;
            @media screen and (max-width: 992px){
              margin-right: 0px;
              max-width: 70px;
              width: 100%;
              color: #313a40;
              font-size: 18px;
              font-weight: 700;
              line-height: 26px;
              letter-spacing: 0.45px;
            }
            }
          @media screen and (max-width: 550px){
            justify-content: flex-end;
          }
        }
        .next{
          padding-left: 3px;
          box-sizing: border-box;
          @media screen and (max-width: 992px){
            padding-left: 0;
          }
          .count{
            margin-left: 25px;
            @media screen and (max-width: 992px){
              max-width: 70px;
              width: 100%;
              margin-left: 0px;
              color: #313a40;
              font-size: 18px;
              font-weight: 700;
              line-height: 26px;
              letter-spacing: 0.45px;
            }
          }
          svg{
            transform: rotateY(180deg);
          }
        }
        .center{
          width: 10px;
          height: 10px;
          background-color: $primary;
          margin-left: 10px;
          @media screen and(max-width: 992px){
            margin-left: 0;
            min-width: 10px;
          }
        }

      }
    }
    .right{
      position: relative;
      padding-top: 32px;
      box-sizing: border-box;
      margin-right: -5px;
      max-width: 535px;
      width: 100%;
      img{
        width: 100%;
      }
      @media screen and (max-width: 992px){
        width: 100%;
        text-align: center;
        padding-right: 13px;
        margin: 0 auto;
      }
      @media screen and (max-width: 550px){
        padding-top: 13px;
        padding-right: 4px;
        padding-left: 30px;
        margin: 0 auto 0 auto;
      }
      img{
        @media screen and (max-width: 550px){
          width: 100%;

        }
      }
    }
    .line-right{
      @media screen and (max-width: 992px){
        display: none;
      }
    }
  }
}

.opportunity{
  position: relative;
  width: 100%;

  background: url(../img/opportunity-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  z-index: 3;
  padding: 182px 0 35px;
  @media screen and (max-width: 550px){
    padding: 67px 0 0px;
  }
  .background{
    top: 95px;
    p{
      color: #ffffff;
      font-family: "Avenir Bold";
      font-size: 200px;
      font-weight: 700;
    }
  }
  &__system{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 100px;
    z-index: 10;
    @media screen and (max-width: 992px){
      margin-bottom: 60px;
    }
    @media screen and (max-width: 550px){
      margin-bottom: 30px;
    }
    h3{
      color: $secondary;
      font-family: "Avenir Bold";
      font-size: 60px;
      font-weight: 700;
      line-height: 60px;
      margin-bottom: 33px;
      padding-left: 15px;
      box-sizing: border-box;
      padding-top: 4px;
      text-align: center;
      @media screen and (max-width: 992px){
        line-height: 65px;
      }
      @media screen and (max-width: 550px){
        font-size: 38px;
        line-height: 38px;
        text-align: center;
      }
      span{
        display: block;
        color: $primary;
      }
    }
    h4{
      color: #3c495c;
      font-family: "Avenir Bold";
      font-size: 36px;
      font-weight: 700;
      line-height: 32px;
      margin-bottom: 40px;
      text-align: center;
    }
    p{
      max-width: 655px;
      width: 100%;
      text-align: center;
      color: $secondary;
      font-family: "Avenir Next";
      font-size: 18px;
      font-weight: 500;
      line-height: 32px;
      @media screen and (max-width: 992px){
        line-height: 29px;
      }
      @media screen and (max-width: 550px){
        color: #555960;
        font-family: "Avenir Next";
        font-size: 12px;
        font-weight: 400;
        line-height: 22px;
        /* Text style for "S, ubstant" */
        letter-spacing: 0.3px;
      }
    }
  }
  &__list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    max-width: 975px;
    margin: 0 auto;
    padding-left: 7px;
    box-sizing: border-box;
    @media screen and (max-width: 992px){
      padding-left: 0;

    }
    @media screen and (max-width: 630px){
      justify-content: center;
    }
    .item{
      width: 250px;
      margin-bottom: 85px;
      display: flex;
      flex-direction: column;

      box-sizing: border-box;
      @media screen and (max-width: 992px){
        max-width: 49%;
        margin-bottom: 60px;
        min-width: 260px;
      }
      @media screen and (max-width: 550px){
        min-width: inherit;
        max-width: 45%;
        margin-right: 15px;
      }
      .icon{
        position: relative;
        margin-bottom: 21px;
        @media screen and (max-width: 550px){
          margin-bottom: 16px;
        }
        svg{
          width: 42px;
          //ellipse,path,circle,polygon{
          //  //fill: url(#grad3);
          //  stroke: url(#grad3);
          //}
          line{
            stroke: #3c495c;
          }
        }
        &:before{
          position: absolute;
          left: 23px;
          top: -2px;
          display: block;
          content: "";
          width: 39px;
          height: 39px;
          background-color: #394659;
          opacity: 0.05;
          @media screen and (max-width: 992px){
            left: 25px;
          }
        }
      }
      p{
        color: #555960;
        font-family: "Avenir Next";
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0.8px;
        @media screen and (max-width: 550px){
          color: #555960;
          font-family: "Avenir Next";
          font-size: 12px;
          font-weight: 400;
          line-height: 22px;
          letter-spacing: 0.6px;
        }
      }
    }
  }
  &__scroll_top{
    position: absolute;
    top: 207px;
    left: -11px;
    display: flex;
    transition: all ease .5s;
    @media screen and (max-width: 992px){
      top: 216px;
      left: -29%;
    }
    @media screen and (max-width: 550px){
      display: none;
    }
  }
  &__scroll_bottom{
    position: absolute;
    bottom: 124px;
    right: 0;
    display: flex;
    transition: all ease .5s;
    @media screen and (max-width: 992px){
      display: none;
    }
  }
}

.video{
  display: flex;
  align-items: center;
  width: 100%;
  padding: 120px 0 120px 95px;
  height: 410px;

  background: url(../img/video-bg.png);
  background-size: cover;

  box-sizing: border-box;

  &__container{
    display: flex;
    align-items: center;
    width: 100%;
    &_left{
      max-width: 555px;
      width: 100%;
      margin-right: 14.5vw;
      p{
        color: #ffffff;
        font-family: "Avenir Next";
        font-size: 36px;
        font-weight: 700;
        line-height: 44px;
        letter-spacing: 0.9px;
      }
    }
    &_right{
      display: flex;
      align-items: center;
      cursor: pointer;
      svg{
        margin-right: 20px;
        #backgroundCircle{
          display: none;
          width: 0;
          transition: all ease .5s;
        }
      }
      span{
        color: #ffffff;
        font-family: "Avenir Next";
        font-size: 11px;
        font-weight: 700;
        line-height: 25px;
        text-transform: uppercase;
        letter-spacing: 1.1px;
        transition: all ease .5s;
      }
      &:hover{
        svg{
          #backgroundCircle{
            width: 100%;
          }
        }
        span{
          color: $primary;
        }
      }
    }
  }
}

.work{
  position: relative;
  width: 100%;
  padding: 110px 0 210px;
  background: url(../img/image.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
  z-index: 3;

  @media screen and (max-width: 550px){
    padding: 55px 0 120px;
  }
  &__resume{
    position: relative;
    max-width: 845px;
    width: 100%;
    padding: 0 20px 0 10px;
    margin: 0 auto;
    text-align: center;
    @media screen and (max-width: 992px){
      box-sizing: border-box;
    }
    @media screen and (max-width: 550px){
      padding: 0;
    }
    h3{
      color: $secondary;
      font-family: "Avenir Bold";
      font-size: 60px;
      font-weight: 700;
      line-height: 73px;

      margin-bottom: 26px;
      span{
        display: block;
        color: $primary;
      }
      @media screen and (max-width: 550px){
        font-size: 38px;
        line-height: 38px;
        margin-bottom: 30px;
      }
    }
    h4{
      color: #ffffff;
      font-family: "Avenir Bold";
      font-size: 36px;
      font-weight: 700;
      line-height: 42px;
      margin-bottom: 40px;
      @media screen and (max-width: 550px){
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 23px;
      }
    }
    p{
      max-width: 655px;
      width: 100%;
      margin: 0 auto;
      color: #ffffff;
      font-family: "Avenir Next";
      font-size: 16px;
      font-weight: 400;
      line-height: 28px;
      text-align: center;
      @media screen and (max-width: 550px){
        font-size: 12px;
        font-weight: 400;
        line-height: 22px;
      }
    }
  }
}

.footer{
  width: 100%;
  padding: 30px 0;
  background-color: #394659;

  box-sizing: border-box;
  &__content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .copy{
      color: #ffffff;
      font-family: "Avenir Next";
      font-size: 12px;
      font-weight: 500;
      letter-spacing: 0.6px;
    }
    .vintage{
      display: flex;
      color: #ffffff;
      font-family: "Avenir Next";
      font-size: 12px;
      font-weight: 500;
      letter-spacing: 0.6px;
      span{
        display: inline-block;
        margin-right: 5px;
      }
    }
  }
}

